# Виртуальное окружение
myenv/

# Файлы Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE
.vscode/
.idea/

# Временные файлы
*.tmp
*.log

# Файлы данных
*.db
*.sqlite3

# Файлы изображений (если они не нужны в репозитории)
#*.png
#*.jpg
#*.jpeg

# Сгенерированные файлы
output.html
output.json